/*  your css code here. If applicable */
table {
  border: 1px solid orange;
  border-collapse: collapse;
}

th, td {
  border: 1px solid orange;
  text-align: center;
  padding: 3px 5px;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-text {
  text-align: right;
}
